@model List<Infrastructure.DTOs.MarkDTO>
<html>
<head>
    <style>
        #icons {
            font-size: 20px;
            color: #0a58ca;
        }

            #icons:hover {
                color: orangered;
                font-size: 30px;
            }

        button {
            color: #0a58ca;
            background-color: white;
            border-color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-bxK7u...etc" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--CSS src-->
    <link href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.dataTables.css" rel="stylesheet" />
    <!-- Script src-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>

</head>
<body>
    <h1> Subject name :@ViewBag.SubjectName</h1>
    <button onclick="enablemarkchange()" class="btn" id="icons">See grades</button>
    <table id="example" class="display">
        <thead>
            <tr>
                <th>Student id</th>
                <th>Student name</th>
                <th hidden id="thGrade">Grade</th>
                <th hidden id="thActions">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stdsubs in Model)
            {
                <tr>
                    <td>@stdsubs.StudentId</td>
                    <td>@stdsubs.StdName</td>
                    <td hidden class="tdGrade">@stdsubs.MarkValue</td>
                    <td hidden class="tdActions">
                        @if (stdsubs.MarkValue > 0)
                        {
                            <a asp-controller="StudentSubject" asp-action="EditMarkToSub" asp-route-stdId="@stdsubs.StudentId" asp-route-subId="@stdsubs.SubjectId">ChangeGrade</a>
                        }
                        else if (stdsubs.MarkValue == 0)
                        {
                            <a asp-controller="StudentSubject" asp-action="AddMarkToSub" asp-route-stdId="@stdsubs.StudentId" asp-route-subId="@stdsubs.SubjectId">AddGrade</a>
                            
                        
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
            new DataTable('#example', {
            layout: {
                topStart: {
                    buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
                }
            }
        });
    </script>
    <script>
        function Delete(id,name){
           if( confirm("are you sure Do you want to delete  "+name+"?")){
               window.location.href='Students/Delete/'+id;




           }




        }
    </script>

    <script>
        function enablemarkchange() {
            // toggle headers (static)
            var thGrade = document.getElementById("thGrade");
            var thAction = document.getElementById("thActions");

            var show = thGrade.hidden;

            thGrade.hidden = !show;
            thAction.hidden = !show;

            // toggle all dynamic cells
            document.querySelectorAll(".tdGrade").forEach(td => td.hidden = !show);
            document.querySelectorAll(".tdActions").forEach(td => td.hidden = !show);
        }
    </script>



</body>

</html>