@model List<Infrastructure.DTOs.SubjectDTO>
<html>
<head>
    <style>
        #icons {
            font-size: 20px;
            color: #0a58ca;
        }

            #icons:hover {
                color: orangered;
                font-size: 30px;
            }

        button {
            color: #0a58ca;
            background-color: white;
            border-color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-bxK7u...etc" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--CSS src-->
    <link href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.dataTables.css" rel="stylesheet" />
    <!-- Script src-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>

</head>
<body>
    <a asp-action="Add" id="icons"><i id="icons" class="fa-solid fa-user-plus"></i>Add New Subjects</a>
    <table id="example" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model)
            {
                <tr>
                    <td>@subject.Id</td>
                    <td>@subject.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@subject.Id"><i id="icons" class="fa-solid fa-pen-to-square"></i></a>
                        <button class="btn" asp-action="Index" onclick="Delete(@subject.Id,'@subject.Name')">
                            <i id="icons" class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
            new DataTable('#example', {
            layout: {
                topStart: {
                    buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
                }
            }
        });
    </script>
    <script>
        function Delete(id,name){
           if( confirm("are you sure Do you want to delete  "+name+"?")){
                window.location.href='Subjects/Delete/'+id;




           }




        }
    </script>

</body>

</html>